<div class="screen UnlymeLoginLayout" style="display: none;">
	<div class="login-panel">
		<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
			<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
			<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
			<!-- <span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_LOGIN'}"></span> -->
		</div>

		<div class="card unlyme-mobileapp-card">
			<h1 data-bind="i18n: {'key': '%MODULENAME%/APP_INFO_TEXT'}"></h1>
			<div class="unlyme-app-list">
				<div class="unlyme-app-item">
					<div class="app-item-info">
						<img src="static/styles/images/modules/%ModuleName%/unlyme-mail-app-icon.png" alt="Unlyme Mail">
						<h3>Unlyme Mail</h3>
					</div>
					<div class="store-buttons">
						<a class="store-button app-store-button" data-bind="attr: {href: sMailAppIosLink}">
							<img src="static/styles/images/modules/%ModuleName%/app-store-badge.svg" alt="App Store">
						</a>
						<a class="store-button google-play-button" data-bind="attr: {'href': sMailAppAndroidLink}">
							<img src="static/styles/images/modules/%ModuleName%/google-play-badge.svg" alt="Google Play">
						</a>
					</div>
				</div>
				<div class="unlyme-app-item">
					<div class="app-item-info">
						<img src="static/styles/images/modules/%ModuleName%/unlyme-drive-app-icon.png" alt="Unlyme Drive">
						<h3>Unlyme Drive</h3>
					</div>
					<div class="store-buttons">
						<a class="store-button app-store-button" data-bind="attr: {href: sFilesAppIosLink}">
							<img src="static/styles/images/modules/%ModuleName%/app-store-badge.svg" alt="App Store">
						</a>
						<a class="store-button google-play-button" data-bind="attr: {href: sFilesAppAndroidLink}">
							<img src="static/styles/images/modules/%ModuleName%/google-play-badge.svg" alt="Google Play">
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ko template: { name: '%ModuleName%_BottomDescription', data: $data } --><!-- /ko -->

		<!-- ko template: { name: '%ModuleName%_LanguageSelector', data: $data } --><!-- /ko -->

	</div>	
</div>
