<div class="screen UnlymeLoginLayout" style="display: none;">
	<div class="login-panel">
		<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
			<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
			<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
			<!-- <span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_LOGIN'}"></span> -->
		</div>
		<div class="card">
			
			<div class="left-col">
				<!--{%INCLUDE-START/Login-Before-Description/INCLUDE-END%}-->
				<div class="title" data-bind="i18n: {'key': '%MODULENAME%/TITLE_SIGNUP'}"></div>
				<div class="description" data-bind="i18n: {key: '%MODULENAME%/DESCRIPTION_SIGNUP', type: 'html'}"></div>
				<!--{%INCLUDE-START/Login-After-Description/INCLUDE-END%}-->
				<div class="post-text" data-bind="i18n: {key: '%MODULENAME%/POST_TEXT_SIGNUP', type: 'html'}"></div>
			</div>
			<div class="right-col">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;">
					<div class="fieldset">
						<div data-bind="template: {
							name: '%ModuleName%_controls_SwitcherAccountType',
							if: screenToShow() == Enums.SignupScreen.PersonalAccount || screenToShow() == Enums.SignupScreen.BusinessDomain,
							data: $data }"></div>

						<div data-bind="template: {
							name: '%ModuleName%_SignupCodeVerification',
							if: screenToShow() == Enums.SignupScreen.Confirmation,
							data: $data }"></div>

						<div data-bind="template: { name: '%ModuleName%_SignupPersonalAccount', if: screenToShow() == Enums.SignupScreen.PersonalAccount, data: $data }"></div>
						<div data-bind="template: { name: '%ModuleName%_SignupDomain', if: screenToShow() == Enums.SignupScreen.BusinessDomain, data: $data }"></div>
						<div data-bind="template: { name: '%ModuleName%_SignupBusinessAccount', if: screenToShow() == Enums.SignupScreen.BusinessAccount, data: $data }"></div>
					</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
		<!--{%INCLUDE-START/Login-Footer/INCLUDE-END%}-->
		
		<!-- ko template: { name: '%ModuleName%_LanguageSelector', data: $data } --><!-- /ko -->
	</div>	
</div>
