<div class="screen UnlymeLoginLayout" style="display: none;">
	<div class="login-panel">
		<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
			<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
			<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
			<!-- <span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_LOGIN'}"></span> -->
		</div>
		<div class="card">
			<div class="left-col">
				<!--{%INCLUDE-START/Login-Before-Description/INCLUDE-END%}-->
				<div class="title" data-bind="i18n: {'key': '%MODULENAME%/TITLE_SIGNIN'}"></div>
				<div class="description" data-bind="i18n: {'key': '%MODULENAME%/DESCRIPTION_SIGNIN', type: 'html'}"></div>
				<!--{%INCLUDE-START/Login-After-Description/INCLUDE-END%}-->
				<div data-bind="i18n: {'key': '%MODULENAME%/POST_TEXT_SIGNIN', type: 'html'}"></div>
			</div>
			<div class="right-col">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" data-bind="command: loginCommand">
					<div class="fieldset">
						<div data-bind="template: { name: '%ModuleName%_controls_SwitcherAccountType', data: $data }"></div>

						<div class="row login" data-bind="visible: accountType() == Enums.UnlymeAccountType.Personal">
							<label for="login_login" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGIN'}"></label>
							<div class="value">
								<div class="field">
									<input id="login_login" tabindex="1" class="input username" password type="text" spellcheck="false"
											data-bind="value: username, hasfocus: usernameFocus, valueUpdate: 'afterkeydown', 
											i18n: {'key': '%MODULENAME%/PLACEHOLDER_LOGIN', 'type': 'placeholder'}, initDom: usernameDom" />
									<span class="input domain" data-bind="visible: domains().length === 1">
										<span data-bind="text: domains()[0]"></span>
									</span>
									<span class="custom_selector domains" data-bind="visible: domains().length > 1, dropdown: {'control': false}">
										<span class="name">
											<span class="icon"></span>
											<span class="text" data-bind="text: selectedDomain"></span>
										</span>
										<!-- <span class="control">
											<span class="icon"></span>
										</span> -->
										<span class="dropdown">
											<span class="dropdown_helper">
												<!-- <span class="dropdown_arrow"><span></span></span> -->
												<span class="dropdown_content" data-bind="foreach: domains">
													<span class="item" data-bind="css: $parent.selectedDomain() === $data ? ' selected' : '',
														click: function () { $parent.selectedDomain($data); }">
														<!-- <span class="icon" data-bind="css: icon"></span> -->
														<span class="text" data-bind="text: $data"></span>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
							</div>
						</div>

						<div class="row login" data-bind="visible: accountType() == Enums.UnlymeAccountType.Business">
							<label for="login_login" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGIN'}"></label>
							<div class="value">
								<input id="login_login" tabindex="1" class="input email" password type="text" spellcheck="false"
										data-bind="value: login, hasfocus: loginFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': '%MODULENAME%/PLACEHOLDER_LOGIN', 'type': 'placeholder'}, initDom: loginDom" />
							</div>
						</div>

						<div class="row password">
							<label for="login_password" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PASSWORD'}"></label>
							<div class="value">
								<input id="login_password" tabindex="3" class="input password" name="password" type="password" spellcheck="false"
										data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': '%MODULENAME%/PLACEHOLDER_PASSWORD', 'type': 'placeholder'}, initDom: passwordDom" />
							</div>
						</div>
					</div>
					{%INCLUDE-START/Login-Before-Submit-Button/INCLUDE-END%}
					<!-- ko foreach: beforeButtonsControllers -->
						<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
					<!-- /ko -->
					<div class="row signme" data-bind="visible: bUseSignMe">
						<span>
							<label class="custom_checkbox" data-bind="css: {'checked': signMe, 'focus': signMeFocused}">
								<span class="icon"></span>
								<input id="signme" tabindex="4" type="checkbox" data-bind="checked: signMe, hasfocus: signMeFocused" />
							</label>
							<label class="signme_label" for="signme" data-bind="i18n: {'key': '%MODULENAME%/LABEL_REMEMBER_ME'}"></label>
						</span>
					</div>
					<div class="row buttons">
						<button type="submit" tabindex="5" class="button login" data-bind="text: signInButtonText, command: loginCommand"></button>
					</div>
					{%INCLUDE-START/Login-After/INCLUDE-END%}
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>

		<!-- ko template: { name: '%ModuleName%_LanguageSelector', data: $data } --><!-- /ko -->
	</div>	
</div>
