<div data-bind="template: { name: '%ModuleName%_controls_ButtonBack', data: $data }"></div>

<h2 data-bind="i18n: {key: '%MODULENAME%/SUBTITLE_CORE_VERIFICATION'}"></h2>

<div class="row code">
	<label class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_CODE'}"></label>
	<div class="value">
		<input tabindex="1" class="input" type="text" spellcheck="false"
				data-bind="value: code, hasfocus: codeFocus, valueUpdate: 'afterkeydown'" />
	</div>
</div>

<div class="row buttons">
	<button type="submit" tabindex="2" class="button primary" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_CONFIRM'}, command: confirmCommand"></button>
</div>

<div data-bind="i18n: {key: '%MODULENAME%/HINT_RESENT_VERIFICATION_CODE', type: 'html'}"></div>
