<h2 class="sub-title" data-bind="i18n: {'key': '%MODULENAME%/SUBTITLE_ADD_DOMAIN'}"></h2>
<div class="description" data-bind="i18n: {'key': '%MODULENAME%/DESCRIPTION_ADD_DOMAIN', type: 'html'}"></div>

<!-- <div data-bind="component: { name: 'like-widget', params: { 
	value: domain,
	'%MODULENAME%/LABEL_DOMAIN'
	'%MODULENAME%/PLACEHOLDER_DOMAIN'
	'%MODULENAME%/ERROR_DOMAIN_INVALID'
} }"></div> -->

<div class="row domain">
	<label class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_DOMAIN'}"></label>
	<div class="value" data-bind="css: {
		'error': domainError() || domainBadError(),
		'valid': !domainError() && businessDomainApproved()}">
		<input tabindex="1" class="input domain" type="text" spellcheck="false"
				data-bind="value: domain, hasfocus: domainFocus, valueUpdate: 'keyup', 
				i18n: {'key': '%MODULENAME%/PLACEHOLDER_DOMAIN', 'type': 'placeholder'}" />
		<div class="error_text" data-bind="visible: domainError, i18n: {'key': '%MODULENAME%/ERROR_DOMAIN_EXIST'}"></div>
		<div class="error_text" data-bind="visible: domainBadError, i18n: {'key': '%MODULENAME%/ERROR_DOMAIN_INVALID'}"></div>
	</div>
</div>

<div class="row buttons">
	<button type="submit" tabindex="2" class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_NEXT'}, command: registerDomainCommand"></button>
</div>
