<div class="row password">
	<label class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PASSWORD'}"></label>
	<div class="value" data-bind="css: {'error': passwordError}">
		<input tabindex="2" class="input password" type="password" spellcheck="false"
				data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown', 
				i18n: {'key': '%MODULENAME%/PLACEHOLDER_PASSWORD', 'type': 'placeholder'}" />
		<div class="error_text" data-bind="i18n: {'key': '%MODULENAME%/ERROR_PASSWORD_INVALID'}"></div>
	</div>
</div>