<div class="row password-repeat">
	<label class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PASSWORD_REPEAT'}"></label>
	<div class="value" data-bind="css: {'error': passwordRepeatError}">
		<input tabindex="4" class="input password" type="password" spellcheck="false"
				data-bind="value: passwordRepeat, hasfocus: passwordRepeatFocus, valueUpdate: 'afterkeydown', 
				i18n: {'key': '%MODULENAME%/PLACEHOLDER_PASSWORD', 'type': 'placeholder'}" />
		<div class="error_text" data-bind="i18n: {'key': '%MODULENAME%/ERROR_PASSWORD_MATCH_ERROR'}"></div>
	</div>
</div>