.languages {
	border-radius: 5px;
	padding: 10px 16px;
	position: fixed;
	right: 20px;
	top: 20px;

	html.rtl & {
		left: 20px;
		right: auto;
	}

	.custom_selector {
		
		.dropdown_arrow {
			margin-right: 22px;
			border-bottom-color: #fff;
		}
		
		
		.item  {
			color: #4d4d4d;
			// cursor: pointer;
			display: block;
			padding: 8px 12px;
			white-space: nowrap;
		}
	}
	
	.name .text {
		display: none;
	}
	
	.icon {
		background: url("../../images/sprites.png") no-repeat 40px -400px;
		display: inline-block;
		height: 11px;
		margin-right: 4px;
		vertical-align: middle;
		width: 16px;
		
		.spritesX2();
		
		html.rtl & {
			margin-left: 4px;
			margin-right: 0px;
		}
	}
	
	.English .icon { background-position: 0px -480px; }
	.Arabic .icon { background-position: -80px -520px; }
	.Bulgarian .icon { background-position: -40px -480px; }
	.Chinese-Simplified .icon { background-position: -80px -480px; }
	.Chinese-Traditional .icon { background-position: -80px -480px; }
	.Czech .icon { background-position: -120px -480px; }
	.Danish .icon { background-position: -160px -480px; }
	.Dutch .icon { background-position: -640px -480px; }
	.Estonian .icon { background-position: -200px -480px; }
	.Finnish .icon { background-position: -240px -480px; }
	.French .icon { background-position: -280px -480px; }
	.German .icon { background-position: -320px -480px; }
	.Greek .icon { background-position: -360px -480px; }
	.Hebrew .icon { background-position: -440px -480px; }
	.Hungarian .icon { background-position: -400px -480px; }
	.Italian .icon { background-position: -480px -480px; }
	.Japanese .icon { background-position: -520px -480px; }
	.Korean .icon { background-position: -120px -520px; }
	.Latvian .icon { background-position: -560px -480px; }
	.Lithuanian .icon { background-position: -600px -480px; }
	.Norwegian .icon { background-position: -680px -480px; }
	.Persian .icon { background-position: -360px -520px; }
	.Polish .icon { background-position: -720px -480px; }
	.Portuguese-Brazil .icon { background-position: -760px -480px; }
	.Romanian .icon { background-position: 0px -520px; }
	.Russian .icon { background-position: -40px -520px; }
	.Spanish .icon { background-position: -160px -520px; }
	.Swedish .icon { background-position: -200px -520px; }
	.Thai .icon { background-position: -240px -520px; }
	.Turkish .icon { background-position: -280px -520px; }
	.Ukrainian .icon { background-position: -320px -520px; }
	.Serbian .icon { background-position: -400px -520px; }
	.Portuguese-Portuguese .icon { background-position: -800px -480px; }
	.Vietnamese .icon { background-position: -440px -520px; }
	.Slovenian .icon { background-position: -480px -520px; }
	.Slovak .icon { background-position: -520px -520px; }
}
